body {
    font-family: 'Noto Nastaliq Urdu', serif;
    line-height: 2;
}

.secondry {
    text-align: center;
}

.flex p {
    text-align: start;
    margin: 10px;
}

.flex label {
    align-self: center;
}

.logo {
    height: 200px;
    width: 200px;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: auto auto;
    background-color: #fdfdfd;
    border-radius: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=text] {
    text-align: center;
    appearance: transparent;
    -moz-appearance: textfield;
}

select, option {
    padding: 1em;
}

.table {
    text-align: end;
}

tr th,
tr td {
    width: 24vw;
    margin: 0.25vw;
    text-align: center;
}

input[type=text] {
    /* width: 15vw; */
    font-family: "arial";
    text-align: center;
}

#zimmedariyan,
#milkiyat,
#total,
#zakat {
    font-family: "arial";
}

td input[type=text]::selection {
    background-color: black;
    color: white;
}

tr {
    display: flex;
    align-items: center;
    justify-content: center;
}

tr {
    border-bottom: 1px solid black;
}

tr td,
tr th {
    border: none;
}

.zimma {
    border-right: 1px solid black;
    height: 100%;
}

#result {
    display: none;
}

#print,
#share {
    display: none;
}

#result table {
    display: flex;
    flex-direction: column;
}

#zimmedariyan,
#total {
    width: max-content;
}

footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    text-decoration: none;
    color: blue;
}

/* ------------printing issue on phone----------- */
@media print and (max-width: 480px) {
    body * {
        display: none !important;
    }

    #toPrint,
    #toPrint * {
        display: block !important;
    }

    #toPrint {
        position: static !important;
        overflow: visible !important;
    }
}

/* -------------------- masrafe zakat buttons etc --------------- */

.btn-container {
    position: relative;
}
.btn-continer {
    position: relative;
}

.w-50 {
    position: relative;
    z-index: 1;
}

.w-50::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -50%;
    /* half the width of the line */
    /* transform: translateY(-50%); */
    height: 2px;
    width: 15vw;
    background-color: #007bff;
    /* Bootstrap primary color */
    z-index: -1;
    /* send the line behind the button */
}

.btn-contaner {
    position: relative;
}
.btn-contaner:before {
    content: "";
    position: absolute;
    top: 22px;
    bottom: 0;
    right: 0%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #007bff;
    height: 69%;
    /* Bootstrap primary color */
}

.btn-container {
    position: relative;
}
.bt-container {
    position: relative;
}
.btn-containerr:before {
    content: "";
    position: absolute;
    top: 23px;
    bottom: 0;
    right: 0%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #007bff;
    height: 71%;
    /* Bootstrap primary color */
}
.bt-container:before {
    content: "";
    position: absolute;
    top: 23px;
    bottom: 0;
    right: 0%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #007bff;
    height: 73%;
    /* Bootstrap primary color */
}

.btn-container:before {
    content: "";
    position: absolute;
    top: 22px;
    bottom: 0;
    right: 0%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #007bff;
    height: 73%;
    /* Bootstrap primary color */
}


.w-75 {
    position: relative;
    z-index: 1;
}

.w-75::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 89%;
    /* half the width of the line */
    /* transform: translateY(-50%); */
    height: 1.5px;
    width: 15vw;
    background-color: #007bff;
    /* Bootstrap primary color */
    z-index: -8;
    /* send the line behind the button */
}



@media screen and (max-width: 768px) {
    .w-75::after{
        right: 100%;
    }
    .btn-container:before {
        top: 22px;
        height: 67%;
    }
    .btn-contaner:before {
        top: 31px;
        height: 63%;
    }
    .btn-continer:before {
        /* top: 31px; */
        height: 63%;
    }
    .btn-containerr:before {
        top: 31px;
        height: 66%;
    }
    .bt-container:before {
        height: 63%;
        top: 35px;
    }
}