body {
    font-family: 'Noto Nastaliq Urdu', serif;
    line-height: 2;
}

.secondry {
    text-align: center;
}

.flex p {
    text-align: start;
    margin: 10px;
}

.flex label{
    align-self: center;
}

.logo {
    height: 200px;
    width: 200px;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: auto auto;
    background-color: #fdfdfd;
    border-radius: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=text] {
    text-align: center;
    appearance: transparent;
    -moz-appearance: textfield;
}

.table {
    text-align: end;
}

tr th,
tr td {
    width: 24vw;
    margin: 0.25vw;
    text-align: center;
}
input[type=text] {
    /* width: 60px; */
    font-family: "arial";
    text-align: center;
}

#zimmedariyan,
#milkiyat,
#total,
#zakat {
    font-family: "arial";
}

td input[type=text]::selection {
    background-color: black;
    color: white;
}

tr {
    display: flex;
    align-items: center;
    justify-content: center;
}

tr {
    border-bottom: 1px solid black;
}

tr td,
tr th {
    border: none;
}

.zimma {
    border-right: 1px solid black;
    height: 100%;
}

#result {
    display: none;
}

#print, #share{
    display: none;
}
input {
 box-sizing: border-box;
  }
  
input[type=text], 
textarea {
  height: auto !important;
  max-height: none !important;
  min-height: none !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  padding: 5px 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
}


footer{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 0;
    height: max-content;
    margin-bottom: 0;
    padding-bottom: 0;
}

footer a{
    text-decoration: none;
    color: blue;
}